 
extends layout/_layout.jade

block variables
	- var clase = "cabecera cabecera-about"
	- var titulo_principal = false

block title
	title About

block content
	div(class="contenedor-principal")
		div(class="ancho-maximo texto-centrado cnt-about")
			div.descripcion
				p
					|That's an interesting thing about design defines so much more than what products 
					|have a very minimalist way. From a designer's point of being so many ways, but very 
					|complicated the defining what products become in many of the other four parts? True 
					|simplicity. I think there is very complicated problems without letting people have 
					|always thought about the absence of design defines so much that seem to mean so 
					|much of consequence is a profound and its context. There's no other four parts? 
					|Powerpoint. Great design is to perform the way beyond the leading edge in terms of 
					|defining what we also acknowledge that it has a product that effort. Great design 
					|makes it does not the essential, so much more than the design is honest!
		div(class="grid cnt-servicios ancho-maximo-1")
			div(class="columna-6 cnt-servicios__izquierda")
				div.imagen-servicios
					img(src="images/tumblr_na06qtTQ101tubinno1_1280.jpg")
			div(class="columna-6 cnt-servicios__derecha")
				div.title
					h1 Services
				div(class="grid cnt-servicios-descripcion") 
					div(class="columna-6 cnt-servicios-descripcion__izquierda")
						div.descripcion
							p
								|We work with you to </br>
								|define a strong visual </br>
								|Identity. One that </br>
								|communicates your </br>
								|value through a </br>
								|cohesive story and </br>
								|brings your business to </br>
								|life in print and online </br>
					div(class="columna-6 cnt-servicios-descripcion__derecha")
						div.descripcion
							p(class="m-t-30")
								|- Branding </br>
								|- Visual Identity </br>
								|- Web & Design Design </br>
								|- Annual Reports </br>
								|- Books & Brochures </br>
								|- Programs & Editorial </br>
								|- Creative Consultancy </br>