extends layout/_layout.jade

block variables
	- var clase = "cabecera cabecera-project"
	- var titulo_principal = false

block title
	title Project

block content
	div(class="contenedor-principal p-t-b-60")
		div(class="grid ancho-maximo--project cnt-project")
			div(class="columna-8")
				div.title
					h1 Nora
				div.descripcion
					p
						|This looks. I want to complexity. That's come to testify to complexity.</br> 
						|It's about an object, we kept going and i figured out some basic stuff</br>
						|that acknowledges its very minimalist way beyond the traditions of</br>
						|function from a clutterfree product that form and value on ideas and</br>
						|simplicity. What products have disconnected function of anything</br>
						|of the computer.</br>
						|All project images by <a href="javascript:void(0)">Heydays</a> 
				div(class="contenedor-imagen ctn-imagen-1 contenedor-imagen--normal")
				div(class="contenedor-imagen ctn-imagen-9 contenedor-imagen--normal")
				div(class="contenedor-imagen ctn-imagen-10 contenedor-imagen--normal contenedor-imagen--grande")
				div(class="contenedor-imagen ctn-imagen-11 contenedor-imagen--normal contenedor-imagen--ultimo")
			div(class="columna-2 cnt-project__derecha")
				div(class="contenedor-imagen ctn-imagen-2 contenedor-imagen--mini")
				div(class="contenedor-imagen ctn-imagen-3 contenedor-imagen--mini")
				div(class="contenedor-imagen ctn-imagen-4 contenedor-imagen--mini")
				div(class="contenedor-imagen ctn-imagen-5 contenedor-imagen--mini")
				div(class="contenedor-imagen ctn-imagen-6 contenedor-imagen--mini")
				div(class="contenedor-imagen ctn-imagen-7 contenedor-imagen--mini")
		div(class="grid ancho-maximo--project")
			div.columna-4
				div(class="contenedor-boton texto-centrado")
					a(href="javascript:void(0)") Facebook
			div.columna-4
				div(class="contenedor-boton texto-centrado")
					a(href="javascript:void(0)") Twitter
			div.columna-4
				div(class="contenedor-boton texto-centrado")
					a(href="javascript:void(0)") Google +