
extends layout/_layout.jade

block variables
	- var clase = "cabecera cabecera-work"
	- var titulo_principal = false

block title
	title Work

block content
	div(class="contenedor-principal")
		div(class="ancho-maximo texto-centrado cnt-work")
			div.sub-title
				h4 our amazing work
			div.title
				h1 what we do
			div.descripcion
				p
					|Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</br> 
					|Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
		div
			div(class="grid ancho-maximo-1")
				div.columna-3
					a(href="javascript:void(0)")
						div(class="contenedor-imagen ctn-imagen-1")
				div.columna-3
					a(href="javascript:void(0)")
						div(class="contenedor-imagen ctn-imagen-2")
				div.columna-3
					a(href="javascript:void(0)")
						div(class="contenedor-imagen ctn-imagen-3")
				div.columna-3
					a(href="javascript:void(0)")
						div(class="contenedor-imagen ctn-imagen-4")
				div.columna-3
					a(href="javascript:void(0)")
						div(class="contenedor-imagen ctn-imagen-5")
				div.columna-3
					a(href="javascript:void(0)")
						div(class="contenedor-imagen ctn-imagen-6")
				div.columna-3
					a(href="javascript:void(0)")
						div(class="contenedor-imagen ctn-imagen-7")
				div.columna-3
					a(href="javascript:void(0)")
						div(class="contenedor-imagen ctn-imagen-8")