body {
  font-size: 14px;
}
button {
  outline: none;
}
#who-we-are,
#who-we-are-1,
#what-we-do,
#last-post,
#contact-us {
  padding: 70px 0px;
}
#boton-menu {
  cursor: pointer;
}
.texto-centrado {
  text-align: center;
}
.ancho-maximo {
  max-width: 800px;
  margin: 0 auto;
}
.ancho-maximo-1 {
  max-width: 1349px;
  margin: 0 auto;
}
.cabecera {
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
}
.cabecera-index {
  background-image: url("../images/cd-intro-bg.jpg");
}
.cabecera-principal {
  padding: 20px 30px;
}
.cabecera-principal:after {
  display: table;
  content: '';
  clear: both;
}
.cabecera-principal-2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(45,48,53,0.5);
  z-index: 999;
}
.cabecera-principal-3 {
  background-color: #2d3035;
}
.cabecera-logo {
  width: 202px;
  float: left;
}
.cabecera-logo>a {
  display: block;
}
.cabecera-menu {
  padding: 15px 0px;
  width: 81px;
  float: right;
}
.cabecera-menu>div {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}
.cabecera-principal>div:last-child {
  cursor: pointer;
}
.contenedor-menu {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 102;
  background: #2d3035;
  overflow-y: auto;
  opacity: 0;
}
.nav-principal {
  padding-bottom: 40px;
}
.nav-principal>li {
  margin-bottom: 25px;
}
.nav-principal>li>div {
  padding: 10px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
.nav-principal>li>a {
  display: block;
  text-decoration: none;
  font-size: 31px;
  color: #d4af37;
  text-transform: capitalize;
  padding: 15px;
  text-align: center;
}
.nav-principal>li>a:hover {
  font-weight: bold;
}
.social-buttons {
  width: 250px;
  margin: 0 auto;
}
.social-buttons:after {
  display: table;
  content: '';
  clear: both;
}
.social-buttons>div {
  font-size: 23px;
  color: #d4af37;
  float: left;
  width: 25%;
  text-align: center;
}
.titulo-principal {
  position: absolute;
  z-index: 100;
  left: 0px;
  top: 42%;
  bottom: 0px;
  right: 0px;
}
.titulo-principal h1 {
  color: #fff;
  font-size: 70px;
  text-align: center;
}
.titulo-principal i {
  font-style: italic;
}
.sub-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #d39e2f;
  font-weight: bold;
}
.sub-title h4 {
  font-size: 16px;
}
.sub-title h6 {
  font-size: 14px;
  color: #5a5c5e;
}
.title {
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #5a5c5e;
}
.title h1 {
  font-size: 50px;
}
.title h3 {
  font-size: 30px;
}
.descripcion {
  margin-bottom: 40px;
}
.descripcion p {
  font-size: 22px;
  line-height: 31px;
  color: #3f3f41;
}
.descripcion-blog .descripcion p {
  font-size: 18px;
}
.contenedor-boton a {
  display: block;
  border: 1px solid #000;
  background: #fff;
  padding: 22px 0px;
  text-transform: capitalize;
  font-size: 16px;
  width: 260px;
  color: #3f3f41;
  text-decoration: none;
  margin: 0 auto;
}
.contenedor-boton a:hover {
  color: #d39e2f;
  border: 1px solid #d39e2f;
}
.boton-blog a {
  width: 100px;
  padding: 15px;
  margin: 0;
  text-align: center;
}
.contenedor-imagen {
  margin: 2px;
  background: #808080;
  height: 300px;
  background-size: cover;
}
.contenedor-imagen:hover {
  opacity: 0.5;
}
.ctn-imagen-1 {
  background-image: url("../images/heydays_nora01-1440x900.jpg");
}
.ctn-imagen-2 {
  background-image: url("../images/heydays_berg_23-e1386238978376.jpg");
}
.ctn-imagen-3 {
  background-image: url("../images/heydays_premiss_10.jpg");
}
.ctn-imagen-4 {
  background-image: url("../images/heydays_goa_2b.jpg");
}
.ctn-imagen-5 {
  background-image: url("../images/Postalia.jpg");
}
.ctn-imagen-6 {
  background-image: url("../images/heydays_mellbye_11-1440x900.jpg");
}
.ctn-imagen-7 {
  background-image: url("../images/heydays_sjemmedal_05-1440x900.jpg");
}
.ctn-imagen-8 {
  background-image: url("../images/heydays_abn2012_071-1440x900.jpg");
}
.contenedor-equipo {
  margin: 2px;
}
.contenedor-blog {
  margin-bottom: 80px;
}
.foto-equipo {
  min-height: 200px;
  background: #808080;
  position: relative;
}
.foto-equipo img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.imagen-blog {
  position: relative;
  height: 365px;
  background: #808080;
}
.imagen-blog img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.descripcion-equipo {
  padding: 15px 15px 1px 15px;
  background: #f9f9f9;
}
.descripcion-equipo .descripcion p {
  font-size: 18px;
  line-height: 22px;
}
.descripcion-blog {
  padding: 40px 40px 60px 40px;
  background: #f9f9f9;
}
#mapa {
  height: 300px;
  background: #808080;
  width: 100%;
}
.contenedor-contacto-padre {
  background: #f9f9f9;
}
.contenedor-contacto>div {
  margin-bottom: 40px;
}
.titulo-contacto h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #5a5c5e;
  font-weight: bold;
}
.descripcion-contacto>h3 {
  font-size: 25px;
  text-transform: capitalize;
  color: #5d6164;
  margin-bottom: 10px;
  font-weight: lighter;
}
.pie-de-pagina {
  background: #eee;
}
.contenedor-pie-pagina {
  padding: 35px 0;
}
.contenedor-pie-pagina>div h1 {
  font-size: 20px;
  color: #5a5c5e;
}
.cabecera-about {
  background-image: url("../images/SW_CalebMorris1.jpg");
}
.cnt-about,
.cnt-work {
  padding: 150px 0px;
}
.cnt-about .descripcion {
  margin-bottom: 0px;
}
.cnt-servicios {
  background-color: #f9f9f9;
}
.cnt-servicios>div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cnt-servicios__derecha {
  padding: 30px;
}
.cnt-servicios__derecha .title {
  margin-bottom: 80px;
}
.cnt-servicios__derecha .descripcion {
  margin-bottom: 0px;
}
.cnt-servicios__derecha .descripcion p {
  font-size: 23px;
}
.imagen-servicios {
  position: relative;
  height: 438px;
}
.imagen-servicios img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.cabecera-work {
  background-image: url("../images/projects-bg_img.gif");
}
.cnt-work .descripcion {
  margin-bottom: 0px;
}
.cnt-project {
  padding: 50px;
  background-color: #f9f9f9;
  margin-bottom: 100px !important;
}
.cnt-project .title,
.cnt-project .descripcion {
  margin-bottom: 90px;
}
.cnt-project__derecha {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 50px;
}
.cnt-project .contenedor-imagen--normal {
  height: 400px;
  margin-bottom: 20px;
}
.cnt-project .contenedor-imagen--mini {
  height: 300px;
}
.cnt-project .contenedor-imagen--grande {
  height: 800px;
}
.ancho-maximo--project {
  width: 1100px;
  margin: 0 auto;
}
.cabecera-project {
  background-image: url("../images/heydays_nora04-1440x900.jpg");
}
.ctn-imagen-9 {
  background-image: url("../images/heydays_nora022-1440x900.jpg");
}
.ctn-imagen-10 {
  background-image: url("../images/heydays_nora10.jpg");
}
.ctn-imagen-11 {
  background-image: url("../images/heydays_nora04-1440x900.jpg");
}
.contenedor-imagen--ultimo {
  margin-bottom: 0px !important;
}
.p-t-b-60 {
  padding: 60px 0;
}
.cabecera-contact {
  background-image: url("../images/cd-content-contact-bg_img.jpg");
}
.cnt-contact {
  padding: 100px 0px 60px 0px;
}
.cnt-contact__grid {
  margin-bottom: 60px;
}
.cnt-contact__grid--pequenio .contenedor-titulo {
  padding: 30px 30px 0px 30px;
}
.cnt-contact__grid--grande {
  background-color: #f9f9f9;
}
.cnt-contact__grid--grande .contenedor-descripcion {
  padding: 30px;
}
.cnt-contact__grid--grande .descripcion {
  margin-bottom: 0px;
}
.cnt-contact__grid--grande .descripcion p {
  font-size: 25px;
}
.contact-imagen {
  position: relative;
  height: 277px;
  background-color: #808080;
}
.contact-imagen img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.contenedor-titulo {
  height: 247px;
}
.contenedor-titulo .titulo-contacto h3 {
  font-size: 50px;
  color: #fff;
}
.contenedor-titulo .descripcion-contacto h3 {
  color: #fff;
}
.color-1 {
  background-color: #d3af00;
}
.color-2 {
  background-color: #000;
}
.cabecera-blog {
  background-image: url("../images/tumblr_nau9zqjZay1tubinno1_1280.jpg");
}
.cnt-blog {
  padding: 70px 0px;
}
.cnt-blog-grid {
  padding: 50px;
  background-color: #f9f9f9;
}
.blog-descripcion {
  padding: 30px;
  background: #fff;
  margin-bottom: 60px;
}
.blog-descripcion .title {
  margin-bottom: 20px;
}
.blog-descripcion .sub-title {
  margin-bottom: 40px;
}
.blog-descripcion .title h1 {
  font-size: 35px;
}
.blog-descripcion p {
  font-size: 19px;
}
.blog-descripcion .sub-title h4 {
  font-size: 14px;
}
.blog-descripcion .boton-blog a {
  width: 25%;
}
.blog-imagen {
  position: relative;
  height: 385px;
  background: #808080;
  margin-bottom: 35px;
}
.blog-imagen img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.b-blog-boton a {
  background-color: #f9f9f9;
}
.cnt-block .cnt-block__title {
  border-bottom: 4px solid #c5af28;
  margin-bottom: 30px;
}
.cnt-block__title h3 {
  font-size: 30px;
  padding: 10px 0px;
  color: #5a5c5e;
}
.cnt-block__links {
  margin-bottom: 50px;
}
.cnt-block__links a {
  display: block;
  font-size: 17px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #5a5c5e;
}
.cnt-block__links a:hover {
  color: #c5af28;
}
.grid>div {
  float: left;
  min-height: 5px;
}
.grid:after {
  display: table;
  content: '';
  clear: both;
}
.grid>.columna-2 {
  width: 40%;
}
.grid>.columna-3 {
  width: 25%;
}
.grid>.columna-4 {
  width: 33.3%;
}
.grid>.columna-6 {
  width: 50%;
}
.grid>.columna-7 {
  width: 75%;
}
.grid>.columna-8 {
  width: 60%;
}
.p-t-50 {
  padding-top: 50px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-b-70 {
  margin-bottom: 70px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.no-capitalize>h3 {
  text-transform: none !important;
}
.t-a-l {
  text-align: left;
}
.t-a-r {
  text-align: right;
}
.p-l-60 {
  padding-left: 60px;
}
.p-r-20 {
  padding-right: 20px;
}
.hide {
  display: none;
}
