
//Variables
anchoMaximo=800px
anchoMaximo_1=1349px


//main.css

body
	font-size: 14px

button
	outline: none

.texto-centrado
	text-align: center

.ancho-maximo
	max-width: anchoMaximo
	margin: 0 auto

.ancho-maximo-1
	max-width: anchoMaximo_1
	margin: 0 auto

.cabecera
	background-image: url('../images/cd-intro-bg.jpg')
	background-size: cover
	background-position: center center
	width: 100%
	position: relative

.titulo-principal
	position: absolute
	z-index: 100
	left: 0px
	top: 42%
	bottom: 0px
	right: 0px

.titulo-principal h1
	color: #fff
	font-size: 70px
	text-align: center

.titulo-principal i
	font-style: italic

#who-we-are
#who-we-are-1
#what-we-do
#last-post
#contact-us
	padding: 70px 0px

.sub-title
	margin-bottom: 10px
	text-transform: uppercase
	color: #D39E2F
	font-weight: bold

.sub-title h4
	font-size: 16px
	
.sub-title h6
	font-size: 14px
	color: #5A5C5E
	
.title
	margin-bottom: 30px
	text-transform: capitalize
	color: #5A5C5E

.title h1
	font-size: 50px
	
.title h3
	font-size: 30px

.descripcion
	margin-bottom: 40px

.descripcion p
	font-size: 22px
	line-height: 31px
	color: #3F3F41

.descripcion-blog .descripcion p
	font-size: 18px
	
.contenedor-boton a
	display: block
	border: 1px solid black
	background: white
	padding: 22px 0px
	text-transform: capitalize
	font-size: 16px
	width: 260px
	color: #3F3F41
	text-decoration: none
	margin: 0 auto
	&:hover
		color: #D39E2F
		border: 1px solid #D39E2F

.boton-blog a
	width: 100px
	padding: 15px
	margin: 0
	text-align: center

.contenedor-imagen
	margin: 2px
	background: gray
	height: 300px
	background-size: cover
	
.ctn-imagen-1
	background-image: url('../images/heydays_nora01-1440x900.jpg')

.ctn-imagen-2
	background-image: url('../images/heydays_berg_23-e1386238978376.jpg')

.ctn-imagen-3
	background-image: url('../images/heydays_premiss_10.jpg')

.ctn-imagen-4
	background-image: url('../images/heydays_goa_2b.jpg')

.ctn-imagen-5
	background-image: url('../images/Postalia.jpg')

.ctn-imagen-6
	background-image: url('../images/heydays_mellbye_11-1440x900.jpg')

.ctn-imagen-7
	background-image: url('../images/heydays_sjemmedal_05-1440x900.jpg')

.ctn-imagen-8
	background-image: url('../images/heydays_abn2012_071-1440x900.jpg')

.contenedor-equipo
	margin: 2px

.contenedor-blog
	margin-bottom: 80px

.foto-equipo
	min-height: 200px
	background: gray

.imagen-blog
	height: 367px
	background: gray

.descripcion-equipo
	padding: 15px 15px 1px 15px
	background: rgb(249, 249, 249) 

.descripcion-equipo .descripcion p
	font-size: 18px
	line-height: 22px

.descripcion-blog
	padding: 40px 40px 60px 40px
	background: rgb(249, 249, 249) 

#mapa
	height: 300px
	background: gray
	width: 100%

.contenedor-contacto-padre
	background: rgb(249, 249, 249)

.contenedor-contacto>div
	margin-bottom: 40px

.titulo-contacto h4
	font-size: 16px
	text-transform: uppercase
	color: #5a5c5e
	font-weight: bold

.descripcion-contacto>h3
	font-size: 25px
	text-transform: capitalize
	color: rgb(93, 97, 100)
	margin-bottom: 10px
	font-weight: lighter

.pie-de-pagina
	background: rgb(238, 238, 238)

.contenedor-pie-pagina
	padding: 35px 0
	
.contenedor-pie-pagina>div h1
	font-size: 20px
	color: #5a5c5e

//GENERAL
.grid>div
	float: left
	min-height: 5px

.grid:after
	display: table
	content: ''
	clear: both

.grid>.columna-3
	width: 25%

.grid>.columna-4
	width: 33.3%

.grid>.columna-6
	width: 50%

.p-t-50
	padding-top: 50px

.m-b-70
	margin-bottom: 70px

.m-b-50
	margin-bottom: 50px

.no-capitalize>h3
	text-transform: none!important

.t-a-l
	text-align: left
	
.t-a-r
	text-align: right
