.cabecera-about
	background-image: url('../images/SW_CalebMorris1.jpg')

.cnt-about
	padding: 150px 0px
	
.cnt-about .descripcion
	margin-bottom: 0px

.cnt-servicios
	background-color: #f9f9f9

.cnt-servicios>div
	box-sizing(border-box)

.cnt-servicios__derecha
	padding: 30px

.cnt-servicios__derecha .title
	margin-bottom: 80px

.cnt-servicios__derecha .descripcion
	margin-bottom: 0px

.cnt-servicios__derecha .descripcion p
	font-size: 23px

.imagen-servicios
	position: relative
	height: 438px
	
.imagen-servicios img
	position: absolute
	height: 100%
	width: 100%