.cabecera-blog
	background-image: url('../images/tumblr_nau9zqjZay1tubinno1_1280.jpg')

.cnt-blog
	padding: 70px 0px

.cnt-blog-grid
	padding: 50px
	background-color: #f9f9f9

.blog-descripcion
	padding: 30px
	background: #fff
	margin-bottom: 60px

.blog-descripcion .title
	margin-bottom: 20px
	
.blog-descripcion .sub-title
	margin-bottom: 40px

.blog-descripcion .title h1
	font-size: 35px

.blog-descripcion p
	font-size: 19px	

.blog-descripcion .sub-title h4
	font-size: 14px

.blog-descripcion .boton-blog a
	width: 25%

.blog-imagen
	position: relative
	height: 350px
	background: gray
	margin-bottom: 35px
	
.blog-imagen img
	position: absolute
	height: 100%
	width: 100%

.b-blog-boton a
	background-color: #f9f9f9
	
.cnt-block .cnt-block__title
	border-bottom: 4px solid rgb(197, 175, 40)
	margin-bottom: 30px
	
.cnt-block__title h3
	font-size: 30px
	padding: 10px 0px
	color: #5a5c5e

.cnt-block__links
	margin-bottom: 50px

.cnt-block__links a
	display: block
	font-size: 17px
	margin-bottom: 5px
	text-decoration: none
	color: #5a5c5e
	&:hover
		color: rgb(197, 175, 40)
		