.cabecera-contact
	background-image: url('../images/cd-content-contact-bg_img.jpg')

.cnt-contact
	padding: 100px 0px 60px 0px

.cnt-contact__grid
	margin-bottom: 60px

.cnt-contact__grid--pequenio .contenedor-titulo
	padding: 30px 30px 0px 30px

.cnt-contact__grid--grande
	background-color: #f9f9f9

.cnt-contact__grid--grande .contenedor-descripcion
	padding: 30px

.cnt-contact__grid--grande .descripcion
	margin-bottom: 0px

.cnt-contact__grid--grande .descripcion p
	font-size: 25px

.contact-imagen
	position: relative
	height: 277px
	background-color: gray

.contact-imagen img
	position: absolute
	height: 100%
	width: 100%

.contenedor-titulo
	height: 247px

.contenedor-titulo .titulo-contacto h3
	font-size: 50px
	color: #fff

.contenedor-titulo .descripcion-contacto h3
	color: #fff

.color-1
	background-color: rgb(211, 175, 0)

.color-2
	background-color: #000