
.cnt-project
	padding: 50px
	background-color: #f9f9f9
	margin-bottom: 100px!important

.cnt-project .title
.cnt-project .descripcion
	margin-bottom: 90px

.cnt-project__derecha
	box-sizing(border-box)
	padding-left: 50px

.cnt-project .contenedor-imagen--normal 
	height: 400px
	margin-bottom: 20px

.cnt-project .contenedor-imagen--mini
	height: 300px

.cnt-project .contenedor-imagen--grande
	height: 800px

.ancho-maximo--project
	width: ancho-maximo--project
	margin: 0 auto

.cabecera-project
	background-image: url('../images/heydays_nora04-1440x900.jpg')

.ctn-imagen-9
	background-image: url('../images/heydays_nora022-1440x900.jpg')

.ctn-imagen-10
	background-image: url('../images/heydays_nora10.jpg')

.ctn-imagen-11
	background-image: url('../images/heydays_nora04-1440x900.jpg')
	
.contenedor-imagen--ultimo
	margin-bottom: 0px!important

.p-t-b-60
	padding: 60px 0