.grid>div
	float: left
	min-height: 5px

.grid:after
	display: table
	content: ''
	clear: both

.grid>.columna-2
	width: 40%

.grid>.columna-3
	width: 25%

.grid>.columna-4
	width: 33.3%

.grid>.columna-6
	width: 50%

.grid>.columna-7
	width: 75%
	
.grid>.columna-8
	width: 60%

.p-t-50
	padding-top: 50px

.m-t-30
	margin-top: 30px

.m-b-70
	margin-bottom: 70px

.m-b-50
	margin-bottom: 50px

.no-capitalize>h3
	text-transform: none!important

.t-a-l
	text-align: left
	
.t-a-r
	text-align: right

.hide
	display: none